nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 3% 13% 0 10%;
  align-items: center;
}
.rm_navbar_logo {
  font-size: 1.8rem;
  color: rgb(112, 104, 104);
}
.rm_navbar_h1 {
  padding-left: 2%;
  width: 102%;
}
.rm_navbar_links {
  display: -webkit-inline-box;
  padding-top: 1.2%;
}

.rm_navbar_links .-menu li {
  font-size: 1.4rem;
  list-style: none;
  padding-left: 11%;
}
.rm_navbar_links .-menu a {
  text-decoration: none;
  color: rgb(112, 104, 104);
}
@media screen and (max-width: 450px) {
  .rm_navbar_logo{
    margin-top:5rem;
  }
  .rm_navbar_links {
    display:none;
  }
}
